/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: gainsboro;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;

}
/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    
}
.section-title{
    color: blue;
    font-size: 24px;
    margin-top: 3px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player img{
width: 60px;
height: 60px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
.top-players{
    margin-bottom: 30px;
}
hr{
    border: 1px solid rgb(110, 110, 110);
}
